<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Request Header Parser Microservice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Request Header Parser</h1>
  <blockquote>
    <p>User Story: I can get the IP address, language and operating system for my browser.</p>
  </blockquote>
  <h4>Example output:</h4>
  <code>{ ipaddress: "172.217.24.26", language: "en-UK", software: "Linux; Intel Android 8.0.0" }</code>
</body>

</html>